{% extends 'shop_of_sportfood/base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<h1>{{ product.name }} </h1>

            {% if product.photo %}
            <p><img src="{{ product.photo.url }}" height="300" width="300"></p>
            {% endif %}
            <p>{{ product.description }}</p>
            <p>{{ product.author }}</p>
            <p>{{ product.price }} рублей</p>
            <p>{{ product.cat }}</p>
             <button type="submit" class="btn btn-success"><a class ="me-3 py-2 text-dark text-decoration-none" href="{% url 'products' %}">Вернуться назад</a></button>

{% endblock %}
